@using WebApp.Areas.BackOffice.Controllers
@using WebApp.Model.GenericMvc.ChildPage
@using WebApp.Model.ProfileSettings
@model Domain.IDomain

@await Html.RenderStatusMessageAsync()

@await Html.RenderPageTitleAsync()

    <div class="m-content">
        <partial name="_DisplayModel" />

        <partial name="_ChildPage" model="@ChildPageDescriptor.Create(nameof(ClientFirmsController), Model.GetId(), true)" />

        <partial name="~/Views/ProfileSettings/_ProfileSettings.cshtml" model="@ProfileSettingsModel.CreateForBackOfficeArea((string)Model.GetId())" />

        @await Html.RenderCrudButtonsAsync()
    </div>