@using Domain.Transaction
@using WebApp.Model.Forms

@model TransactionTagDetails

@{
    var formDescriptor = FormBuilder<TransactionTagDetails>.CreateNew(false, "Edit")
        .AddItem(x => x.Text)
        .Build();
}

<div class="form-horizontal">
    @await Html.FormCrudAsync(formDescriptor)
</div>
