@using WebApp.Controllers
@using WebApp.Model.GenericMvc.ChildPage
@model Domain.IDomain

@await Html.RenderStatusMessageAsync()

@await Html.RenderPageHeaderAsync()

<div class="m-content">
    @await Html.PartialAsync("_DisplayModel")

    @await Html.PartialAsync("_ChildPage", ChildPageDescriptor.Create(nameof(IbansController), Model.GetId(), true))

    @await Html.PartialAsync("_ChildPage", ManyToManyChildPageDescriptor.Create(nameof(EntityProjectManyToManyRelationController), Model.GetId(), true))

    @await Html.RenderCrudButtonsAsync()
</div>