@using Common.StringConstants
@using DAL.Model
@using DAL.Repositories
@using Domain
@using WebApp.Model.TableRenders.Renders
@using WebApp.Model.Transactions
@model ProjectAndCategoryEditViewModel
@inject IValueObjectRepository<ValueObject, long> Repository

@{
    var projects = Repository.GetItems<Project>();
    var categories = Repository.GetItems<Category>();
}

<div class="modal fade show" id="projectAndCategoryEditView" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: none; padding-right: 16px;">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body" style="background-color: #f2f3f8">
                <div class="m-subheader">
                    <div class="d-flex align-items-center">
                        <div class="mr-auto">
                            <h3 class="m-subheader__title m-subheader__title--separator">Transactions batch edit</h3>
                        </div>
                    </div>
                </div>
                <div class="m-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="m-portlet">
                                <form class="m-form m-form--fit m-form--label-align-right">
                                    <div class="m-portlet__body">
                                        <div class="m-form__section m-form__section--first">
                                            <div class="form-group m-form__group">
                                                @Html.LabelFor(x => x.ProjectId)
                                                @Html.DropDownListFor(x => x.ProjectId, projects.ToSelectListItems(), Constants.DropdownDefaultOption, new { @class = "form-control" })
                                            </div>

                                            <div class="form-group m-form__group">
                                                @Html.LabelFor(x => x.CategoryId)
                                                @Html.DropDownListFor(x => x.CategoryId, categories.ToSelectListItems(), Constants.DropdownDefaultOption, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="m-portlet__foot m-portlet__foot--fit">
                                        <div class="m-form__actions">
                                            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-success btn-sm">Save</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>