@model AjaxContentOnClickViewModel

@{
    var id = Guid.NewGuid().ToString();
}

<div id="container-@id">

</div>


<script>
    {
        if (@Model.LoadOnInit)
        {
            loadFunc();
        }
        
        $('#@Model.ClickObjectId').click(function ()
        {
            loadFunc();
        });

        function loadFunc()
        {
            $.ajax({
                type: "GET",
                url: '@Model.Url',
                data: '',
                contentType: "application/json; charset=utf-8",
                dataType: "HTML",
                success: response =>
                {
                    $(`#container-@id`).html(response);
                }
            });
        }
    }
</script>