@using WebApp.Model.GenericMvc
@model TableFilterDescriptor

@{
    var items = new List<SelectListItem>
    {
        new SelectListItem("True", "True"),
        new SelectListItem("False", "False"),
    };
}

<div>
    @Html.DropDownList("booleanFilter", items, " ", new
    {
        @class = $"form-control booleanFilter {Model.ColumnClass}",
        data_field_id = Model.FieldId,
        data_filter_value = Model.FilterValue
    })
</div>
