@using Common
@using Domain
@using WebApp.Controllers
@using WebApp.Model.GenericMvc.ChildPage
@model ChildPageDescriptorBase

@{
    Model.SaveChildPageMusterFilterToSession(Context.Session);

    bool showChildPage = false;

    if (Model.MasterEntityFk != null)
    {
        var propertyInfo = Model.GetType().GetProperty(nameof(ChildPageDescriptorBase.MasterEntityFk));

        Defensive.AssertNotNull(propertyInfo);

        var type = propertyInfo.PropertyType;
        
        if (type.IsValueType)
        {
            showChildPage = Model.MasterEntityFk != Activator.CreateInstance(type);
        }
        else 
        {
            showChildPage = true;
        }
    }
}

@if (showChildPage) 
{  
    <div class="row">
        <div class="col-md-12">
            <div id="@Model.ChildPageContainerId"></div>
        </div>
    </div>

    <script>
        $.ajax({
            type: "GET",
            url: '@Url.Action(nameof(BasicCrudController<DomainBase, DomainBase, long>.Index), Model.ControllerName, new { isReadonly = Model.IsReadonly})',
            data: '',
            contentType: "application/json; charset=utf-8",
            dataType: "HTML",
            success: response =>
            {
                $(`#@Model.ChildPageContainerId`).html(response);
            }
        });
    </script>
}

