@{
    throw new Exception($"Display model is not implemented for controller: '{Html.GetPageContext().ControllerName}', action: '{Html.GetAction()};");
}

<div class="form-horizontal">
    @await Html.DisplayFromItemsAsync()
</div>