@using Domain
@model IDomain

@{
    var descriptor = Html.GetFormDescriptor();
}

@Html.AntiForgeryToken()
@Html.Hidden(nameof(IDomain<long>.Id), Model.GetId())
@Html.HiddenFor(x => x.RowVersion)
@Html.HiddenFor(x => x.CreatedDate)

@foreach (var itemDescriptor in descriptor.Items)
{
    <div class="form-group m-form__group">
        @await Html.PartialAsync("_FormItem", Model, Html.SaveToViewDictionary(itemDescriptor))
    </div>
}