@using Domain
@model IDomain

@{
    var descriptor = Html.GetFormDescriptor();
}

<partial name="_FormHiddenSection" />

@foreach (var itemDescriptor in descriptor.Items)
{
    <div class="form-group m-form__group">
        @await Html.PartialAsync("_FormItem", Model, Html.SaveToViewDictionary(itemDescriptor))
    </div>
}