@using Domain
@model IDomain

@{
    var items = Html.GetFormItems().ToList();
}

@Html.AntiForgeryToken()
@Html.Hidden(nameof(IDomain<long>.Id), Model.GetId())
@Html.HiddenFor(x => x.RowVersion)

@for (var i = 0; i < items.Count; i += 2)
{
    var itemDescriptor1 = items[i];
    var itemDescriptor2 = i + 1 > items.Count - 1 ? null : items[i + 1];

    <div class="form-group m-form__group row">
        <div class="col-lg-6">
            @await Html.PartialAsync("_FormItem", Model, Html.SaveToViewDictionary(itemDescriptor1))
        </div>
        <div class="col-lg-6">
            @if (itemDescriptor2 != null)
            {
                @await Html.PartialAsync("_FormItem", Model, Html.SaveToViewDictionary(itemDescriptor2))
            }
        </div>
    </div>
}