@using Domain
@model IDomain

@{
    var descriptor = Html.GetFormDescriptor();
    var containerId = descriptor.AjaxFromContainerId ?? Html.GetPageContext().PageContainerId;
}

<div class="row">
    <div class="col-md-12">
        <div class="m-portlet">
            @await Html.PartialAsync("_FormHeader", descriptor.Name)

            <form class="m-form m-form--fit m-form--label-align-right"
                  asp-action="@(descriptor.Action ?? Html.GetAction())"
                  data-ajax="true"
                  data-ajax-method="Post"
                  data-ajax-mode="replace"
                  data-ajax-update="#@containerId">

                <div class="m-portlet__body">
                    <div class="m-form__section m-form__section--first">
                        
                        @await Html.FormItems_TwoColumnsAsync(descriptor)

                    </div>

                    @if (!descriptor.ReadOnly)
                    {
                        @Html.ValidationSummary(false, "", new {@class = "text-danger"})
                    }
                </div>

                @await Html.PartialAsync("_FormButtons")
                @await Html.PartialAsync("_FormScripts")

            </form>
        </div>
    </div>
</div>