@using Domain
@using WebApp.Controllers
@using WebApp.Model.GenericMvc
@model GenericMvcIndexViewModel

@{
    var context = Html.GetPageContext();
}

    <div id="@context.PageContainerId">
        @await Html.RenderPageTitleAsync()

        <div class="m-content">
            <div class="m-portlet m-portlet--full-height">
                <div class="m-portlet__body">
                    <div class="m-section">
                        <div class="m-section__content">
                            @await Html.RenderStatusMessageAsync()
                            @* ReSharper disable once Mvc.PartialViewNotResolved *@
                            @await Html.PartialAsync("_AjaxContent", Url.Action(nameof(BasicCrudController<DomainBase, DomainBase, long>.Table)))
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>