<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bank Scraper</title>

    <link href="~/metronic/vendors/base/vendors.bundle.css" rel="stylesheet" />
    <link href="~/metronic/demo/demo3/base/style.bundle.css" rel="stylesheet" />

    <script src="~/metronic/vendors/base/vendors.bundle.js"></script>
    <script src="~/metronic/demo/demo3/base/scripts.bundle.js"></script>

    <environment exclude="Development">
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    <environment include="Development">
        <script src="~/js/site.js" asp-append-version="true"></script>
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>

    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>

    <script src="~/lib/jquery-ajax-unobtrusive-master/dist/jquery.unobtrusive-ajax.min.js"></script>

    @await Html.PartialAsync("_ApplictionScripts")

    @RenderSection("Scripts", required: false)
</head>
<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">
    @await Html.PartialAsync("_ModalService")
    <!-- begin:: Page -->
    <div class="m-grid m-grid--hor m-grid--root m-page">
        @await Html.PartialAsync("_MetronicHeader")

        <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">

            <!-- BEGIN: Left Aside -->
            <button class="m-aside-left-close m-aside-left-close--skin-dark" id="m_aside_left_close_btn">
                <i class="la la-close"></i>
            </button>
            <div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark ">

                <!-- BEGIN: Aside Menu -->
                @await Html.PartialAsync("_MetronicAsideMenu")
                <!-- END: Aside Menu -->
            </div>

            <!-- END: Left Aside -->
            <div class="m-grid__item m-grid__item--fluid m-wrapper">
                @RenderBody()
            </div>
        </div>
        @await Html.PartialAsync("_MetronicFooter")
    </div>
    <!-- end:: Page -->

    @await Html.PartialAsync("_MetronicQuickSidebar")

    <!-- begin::Scroll Top -->
    <div id="m_scroll_top" class="m-scroll-top">
        <i class="la la-arrow-up"></i>
    </div>
    <!-- end::Scroll Top -->

    @await Html.PartialAsync("_MetronicQuickNav")

</body>
</html>