<div class="modal fade show" id="globalModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: none; padding-right: 16px;">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body" style="background-color: #f2f3f8">

            </div>
        </div>
    </div>
</div>

<script>
    var modalService = new scripts.ModalService('globalModal');
</script>
