@using WebApp.Model.GenericMvc
@model TableFilterDescriptor


<div>
    <input @Model.RenderFilterDataTags() type="number" class="form-control numberFilter @Model.ColumnClass" style="padding-right: 25px">
</div>
