@using Common.Extensions
@using WebApp.Model.GenericMvc
@model TableFilterDescriptor


<div>
    <input @Model.RenderFilterDataTags(val => val?.ToString()?.ToValidNumberInStr()) type="number" class="form-control numberFilter @Model.ColumnClass" style="padding-right: 25px">
</div>
