@using WebApp.Extensions
@{
    var messageModel = ViewData.GetStatusMessage();
}


@if (messageModel.HasMessage)
{
    var statusMessageClass = messageModel.Message.StartsWith("Error") ? "danger" : "success";

    <script>
        $.notify({
                message: '<h5>@messageModel.Message</h5>'
            },
            {
                type: '@statusMessageClass',
                offset:
                {
                    x: 30,
                    y: 100
                },
                animate:
                {
                    enter: 'animated bounceIn',
                    exit: 'animated bounceOut'
                }
            });
    </script>
}