@using WebApp.Model.GenericMvc
@model TableFilterDescriptor

<div>
    <input @Model.RenderFilterDataTags() type="text" class="form-control stringFilter @Model.ColumnClass" style="padding-right: 25px">
</div>
