@using WebApp.Model.GenericMvc
@using WebApp.Model

@model TableViewModel

@{
    var context = Html.GetPageContext();
}

<div id="@context.TableContainerId" class='noselect'>
    <partial name="_InitTableServiceScript"/>
    <partial name="_TableMenu"/>
    <table class="table table-striped m-table">
        <partial name="_TableSorts" />
        <partial name="_TableFilters" />
        <partial name="_TableItems" model="@Model.Data" />

        <partial name="_TableScripts" />
        <partial name="_CustomTableScripts" />
    </table>
    <partial name="_TablePagination" model="@Model.ToPagingViewModel()"/>
</div>