@using WebApp.Model.ColumnFilter

@model ValueObjectRendererViewModel

<div>
    @Html.DropDownList("ValueObjectFilter", Model.Items, " ",
        new { @class = $"form-control valueObjectFilter",
              data_field_id = Model.ReplacedFieldId,
              data_filter_value = Model.ReplacedFilterValue
        })
</div>
