@model Domain.IDomain

@await Html.RenderStatusMessageAsync()

@await Html.RenderPageHeaderAsync()

<div class="m-content">
    @await Html.PartialAsync("_EditModel", Model)

    @await Html.RenderCrudButtonsAsync()
</div>