@model Domain.IDomain

@await Html.RenderStatusMessageAsync()

@await Html.RenderPageTitleAsync()

<div class="m-content">
    @await Html.PartialAsync("_DisplayModel", Model)

    @await Html.RenderCrudButtonsAsync()
</div>