@{
    ViewData["Title"] = "Forgot password confirmation";
    Layout = "~/Views/Shared/_MetronicLayoutWithoutMenus.cshtml";
}

<div class="m-grid m-grid--hor m-grid--root m-page">
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-grid--tablet-and-mobile m-grid--hor-tablet-and-mobile m-login m-login--1 m-login--signin" id="m_login">
        <div class="m-grid__item m-grid__item--order-tablet-and-mobile-2 m-login__aside">
            <div class="m-stack m-stack--hor m-stack--desktop">
                <div class="m-stack__item m-stack__item--fluid">
                    <div>
                        <h2>@ViewData["Title"]</h2>
                        <p>
                            Please check your email to reset your password.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

