@using Domain.ProfileSettings
@using WebApp.Model.Forms

@{
    var isReadonly = false;

    var formContainerId = Guid.NewGuid().ToString();

    var descriptor = FormBuilder<DeliveryAddressDomain>.CreateNew(isReadonly)
        .AddItem(x => x.Name)
        .AddItem(x => x.StreetAndNumber)
        .AddItem(x => x.PostalCode)
        .AddItem(x => x.City)
        .SetAjaxFromContainerId(formContainerId)
        .Build();
}

    <div id="@formContainerId">
        @await Html.FormTwoColumnsAsync(descriptor)
    </div>
