@using WebApp.Model.UsersPanel
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
}

<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">@ViewData["Title"]</h3>
        </div>
    </div>
</div>

<div class="m-content">
    <div class="m-portlet m-portlet--full-height">
        <div class="m-portlet__body">
            <div class="m-section">
                <div class="m-section__content">

                    <div class="row">
                        <div class="col-md-6">
                            <form method="post">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="NewPassword"></label>
                                    <input asp-for="NewPassword" class="form-control" />
                                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                                </div>
                                <button type="submit" class="btn btn-success btn-sm">Update password</button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="m-form__actions" style="margin-left: 33px; margin-top: -20px">
        @Html.ActionLink("Back To List", "Index", new { }, new { @class = "btn btn-primary btn-sm" })
    </div>
</div>






@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
